<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Tailwind CSS 스크립트 추가 -->
    <script src="https://cdn.tailwindcss.com/3.4.5?plugins=forms@0.5.7,typography@0.5.13,aspect-ratio@0.4.2,container-queries@0.1.1"></script>
    <script src="https://ai-public.creatie.ai/gen_page/tailwind-config.min.js" data-color="#000000" data-border-radius="small"></script>
</head>
<footer th:fragment="footer" class="bg-purple-800 text-white py-6">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; Made with 💜 by 퍼플코드랩스</p>
    </div>
</footer>
</html>