<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>

        @keyframes float {
            0% { transform: translateY(0); }
            50% { transform: translateY(-2px); }
            100% { transform: translateY(0); }
        }
        .logo-animation {
            animation: float 2s ease-in-out infinite;
        }

    </style>
</head>
<body>
<!-- nav fragment 정의 -->
<nav th:fragment="nav" class="fixed top-0 left-0 w-full px-6 py-4 flex items-center z-50" style="background: rgba(255, 255, 255, 0.2); backdrop-filter: blur(10px); border: 1px solid rgba(255, 255, 255, 0.3);">
    <a href="/">
        <img src="/images/overlap_logo.png" alt="OverLap" class="w-24 md:w-32 lg:w-40 h-auto logo-animation cursor-pointer">
    </a>
</nav>
</body>